$ice-blue: #D7DFE0;

html {
  // height: 100vh;
  // width: 100vw;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.column-alignment {
  display: flex;
  flex-direction: column;
}

.row-alignment {
  display: flex;
  flex-direction: row;
}

body {
  background-color: $ice-blue;
  height: 100vh;
  width: 100vw;
}
// *************HEADER SECTION*****************
header {
  justify-content: center;
  align-content: baseline;
  background-color: teal;
  width: 100vw;
  height: 30vh;
  align-items: center;
  padding: 40px 0;
}

.hotel-title {
  background-color: white;
  padding: 20px;
}

h1 {
  align-self: center;
  font-size: 5em;
  margin-top: 20px;
  padding: 10px;
  background-color: white;
  font-style: italic;
}

nav {
  background-color: orange;
  justify-content: space-around;
  align-content: baseline;
  font-size: 1.3em;
  position: sticky;
  top: 0;
  box-shadow: 0 6px 12px 0 #0000003d;
  z-index: 10px;
  height: 2em;
  padding-top: 25px;
}

.nav-links {
  align-self: baseline;
}
// ************* MAIN SECTION*****************

main {
  justify-content: space-around;
}

article {
  padding: 10px;
  font-size: 2em;
  width: 10vw;
}
// *************HOME PAGE SECTION*****************
h3 {
  align-self: center;
  font-size: 5em;
  color: white;
  padding: 10px;
  background-color: teal;
  font-style: italic;
}

.home-main-content {
  padding-right: 2vw;
  width: 70vw;
}

.home-main-content > h1 {
  font-size: 3em;
  text-align: center;
}

.main-content {
  overflow: hidden;
  justify-content: space-around;
  margin-bottom: 5em;
  margin-left: 2vw;
  height: 100%;
  padding: 5vh;
  // padding: 5em;
}

.main-content-block {
  padding-left: 1vw;
  border-radius: 5%;
  min-width: min-content;
  box-shadow: 0 6px 12px 0 #0000003d;
  background-color: white;
  max-width: 23vw;
  padding: 50px;
  margin-bottom: 2em;
}

.main-content-title {
  border-radius: 6px;
  font-size: 2.5em;
  padding: 0vw 1vw;
  font-weight: bolder;
  transition: background-color 0.2s ease-in, color ease-in 0.2s;
}

.main-content--title:hover {
  background-color: grey;
  color: black;
}

.main-content-description {
  font-size: 1.1em;
  font-weight: 100;
  line-height: 2em;
  border-radius: 8px;
  text-align: justify;
  padding: 0.5vw 1.2vw;
  height: inherit;
  width: 50vw;
  transition: background-color 0.2s ease-in, color ease-in 0.2s;
}

.main-content-description:hover {
  background-color: orange;
  color: teal;
  font-weight: 300;
  border-radius: 8px;
}

.content-title-block {
  background-color: black;
  color: white;
  padding: 2vh 0;
  margin: 0;
  font-weight: lighter;
}

.content-title-title{
  margin-top: 0em;
}
// *************BOOKING A ROOM SECTION*****************

.booking-section {
  // margin-top: 150px;
  // margin-top: 4em;
  margin: 6em 1em 0em 1em;
//  margin-right: 80px;
}

.booking-form,
.delete-booking-form {
  border-radius: 15%;
  border: solid 10px;
  border-color: teal;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  max-height: 40vh;
  max-width: 20vw;
  padding: 0 2em 3em;
}

h4 {
  align-self: center;
  font-size: 1.8em;
  color: black;
  padding: 15px;
  background-color: $ice-blue;
  font-style: italic;
  margin-bottom: 15px;
}

label {
  display: block;
  font: 0.5em sans-serif;
  padding-top: 10px;
}

// input,
// label {
//   margin: 0.4rem 0;
// }

.check-availability-button,
.delete-booking-button {
  padding: 12px;
  border-width: medium;
}
// *************USER LOG IN SECTION*****************
.user-login-section {
  display: flex;
  background-color: orange;
  flex-direction: row;
  justify-content: center;
  padding: 80px;
  width: 100%;
}

.user-login-block {
  background-color: white;
  border: 10px solid;
  padding: 100px 100px 40px;
  justify-content: space-around;
}

.user-input {
  font-size: 1em;
  font-family: "Gill Sans", sans-serif;
}

input {
  height: 3vh;
}

.login-button {
  margin-left: 150px;
  margin-top: 50px;
  padding: 10px;
  border-width: medium;
}
// *************MANAGER VIEW SECTION*****************
.manager-view {
  justify-content: space-around;
}

.manager-block-info {
  margin-top: 5em;
}

.manager-data-block {
  width: 80%;
  margin-right: 0em;
  min-width: 50em;
  height: 70vh;
  overflow: scroll;
  align-items: center;
  background-color: white;
  padding: 2vw;
  border: solid 5px;
}

.manager-data-title {
  font-size: 2em;
  font-weight: bold;
}

.manager-data {
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.data-container {
  min-width: 12vw;
  width: auto;
  height: auto;
  border-radius: 10%;
  margin-top: 2em;
  min-height: 13vh;
  padding: 10px;
  border: 1.5px solid;
  justify-content: space-around;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.data-container:hover {
  cursor: none;
  transform: scale(1.025);
  box-shadow: 2px 3px 20px 1px grey;
  z-index: 0;
}

.manager-data {
  font-size: 0.6em;
  font-family: "Gill Sans", sans-serif;
}

.room-number {
  font-size: 0.8em;
}

.room-cost {
  font-size: 0.7em;
}
// *************HOTEL DATA VIEW SECTION*****************
.hotel-stats-section {
  margin-top: 1em;
  max-margin-left: 2em;
  align-content: center;
}

.hotel-stats-block {
  justify-content: space-between;
  padding: 1em;
  max-width: 20vw;
  height: 40vh;
  min-height: 35vh;
}

.data-title {
  font-size: 1em;
}

.hotel-stats {
  font-size: 0.9em;
  border: 3px solid;
  border-radius: 50%;
  height: 6em;
  align-items: center;
  background-color: white;
  justify-content: space-around;
}

.color-key {
  background-color: white;
  padding: 1em;
  border-radius: 15%;
  border: 3px solid;
  max-width: 8vw;
}

.key-label {
  font-size: 1.7em;
  justify-content: space-between;
  width: 100%;
  align-self: baseline;
}

#green {
  color: green;
}

#red {
  color: red;
}
// *************NAV BAR SECTION*****************

.manager-nav-bar {
  justify-content: space-around;
}

.nav-search-bar {
  display: flex;
  margin-right: 40px;
}

.search-input {
  background-repeat: no-repeat;
  background-position-x: 98%;
  stroke-width: 1em;
  width: 180px;
  border-radius: 4px;
  padding-left: 1em;
  background-size: 1.6em;
  background-position-y: center;
  top: 0;
  transition: width 0.9s;
  font-size: 0.8em;
}

.search-input:hover {
  width: 35vw;
}
// *************CUSTOMER HISTORY VIEW SECTION*****************
.customer-history-block {
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.user-grandTotal {
  padding: 10px;
  font-size: 3em;
  width: auto;
  padding-top: 1em;
  align-self: center;
}

.user-booking-info {
  align-self: center;
  width: auto;
  font-size: 2em;
}

.user-history {
  min-width: 12vw;
  width: auto;
  height: auto;
  border-radius: 10%;
  margin-top: 2em;
  min-height: 13vh;
  padding: 10px;
  border: 1.5px solid;
  justify-content: space-around;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
// *************MANAGE BOOKING VIEW SECTION*****************
.hidden {
  display: none;
}
