/* This is an example of using Sass, otherwise plain CSS works too*/
// * {
//   border: solid 0.1px;
// }
// $primary-background: radial-gradient(circle, rgba(0,0,0,0) 15%, rgba(0,0,0,0) 1%);
// $palmys: url(./images/palmys.jpg);

html {
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}

.column-alignment {
  display: flex;
  flex-direction: column;
  // justify-content: center;
}

.row-alignment {
  display: flex;
  flex-direction: row;
  // justify-content: center;
}

body {
  background-color: #D7DFE0;
  height: 100vh;
  width: 100vw;
}
// *************HERO SECTION*****************

header {
  // display: flex;
  // flex-direction: column;
  justify-content: center;
  align-content: baseline;
  background-color: teal;
  border-width: thick;
  height: 30vh;
  align-items: center;
  padding: 40px;
  // background-color: white;
}

.hotel-title {
  background-color: white;
  padding: 20px;
}

h1 {
  align-self: center;
  font-size: 5em;
  padding: 10px;
  background-color: white;
  font-style: italic;
}

.hero {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}
// ************* MAIN SECTION*****************

main {
  justify-content: space-between;
}

nav {
  background-color: orange;
  justify-content: space-around;
  align-content: baseline;
  // width: 100vw;
  font-size: 1.2em;
  position: sticky;
  top: 0;
  box-shadow: 0 6px 12px 0 #0000003d;
  z-index: 10;
  // height: 5em;
  padding: 20px;
}
// .log-in-link{
//   align-items:center;
//   background-color: white;
//   width: 100px;
//   height: 30px;
//   padding: 10px;
//   font-style: oblique;
//   position: absolute;
//   top: 10px;
// }

article {
  padding: 30px;
  font-size: 2em;
}
// img {
//   display:
// }
// *************HOME PAGE SECTION*****************

h3 {
  align-self: center;
  font-size: 5em;
  color: white;
  padding: 10px;
  background-color: teal;
  font-style: italic;
}

.home-main-content {
  padding-right: 2vw;
  width: 70vw;
}

.home-main-content > h1 {
  font-size: 3em;
  text-align: center;
}

.main-content {
  overflow: hidden;
  justify-content: space-around;
  // margin-top: 0;
  margin-bottom: 5vh;
  margin-left: 2vw;
  // padding-right: 50px;
  height: 100%;
  padding: 5vh;
}

.main-content-img-wrapper {
  overflow: hidden;
  display: flex;
  max-width: 43vw;
}

.main-content-img {
  height: 103%;
}

.main-content-block {
  padding-left: 1vw;
  border-radius: 5%;
  min-width: min-content;
  box-shadow: 0 6px 12px 0 #0000003d;
  background-color: white;
  max-width: 23vw;
  padding: 50px;
}

.main-content-title {
  border-radius: 6px;
  font-size: 2.5em;
  padding: 0 1vw;
  font-weight: bolder;
  // transition: background-color 0.2s ease-in, color ease-in .2s;
}
// .main-content--title:hover {
//   background-color: grey;
//   color: black;
// }

.main-content-description {
  font-size: 1.1em;
  // font-style: italic;
  font-weight: 100;
  line-height: 2em;
  border-radius: 8px;
  text-align: justify;
  padding: 0.5vw 1.2vw;
  height: inherit;
  width: 50vw;
  transition: background-color 0.2s ease-in, color ease-in 0.2s;
}

.main-content-description:hover {
  background-color: orange;
  color: teal;
  font-weight: 300;
  border-radius: 8px;
}

.content-title-block {
  background-color: black;
  color: white;
  padding: 2vh 0;
  margin: 0;
  font-weight: lighter;
}
// *************BOOKING A ROOM SECTION*****************

.booking-section {
  margin-top: 150px;
  margin-right: 80px;
}

.booking-form {
  border-radius: 15%;
  border: solid 10px;
  // position: sticky;
  // top: 100px;
  border-color: teal;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  max-height: 40vh;
  max-width: 20vw;
  // padding-bottom: 2em;
  padding: 0 2em 3em;
}
// .booking-input {
//   font-size: 0.7em;
//   justify-content: space-around;
// }

h4 {
  align-self: center;
  font-size: 2em;
  color: white;
  padding: 15px;
  background-color: red;
  font-style: italic;
  margin-bottom: 15px;
}

label {
  display: block;
  font: 0.5em sans-serif;
  padding-top: 10px;
}

input,
label {
  margin: 0.4rem 0;
}

.check-availability-button {
  padding: 12px;
  border-width: medium;
}
// *************USER LOG IN SECTION*****************

.user-login-section {
  display: flex;
  background-color: orange;
  flex-direction: row;
  justify-content: center;
  padding: 80px;
  width: 100%;
}

.user-login-block {
  background-color: white;
  border: 10px solid;
  padding: 100px 100px 40px;
  justify-content: space-around;
}

.user-input {
  font-size: 1em;
  font-family: "Gill Sans", sans-serif;
}

input {
  height: 3vh;
}

.login-button {
  margin-left: 150px;
  margin-top: 50px;
  padding: 10px;
  border-width: medium;
}
// footer {}

// *************MANAGER VIEW SECTION*****************

.manager-view {}

.manager-block-info {
  margin-top: 5em;
}
// *************ROOM STATUSES VIEW SECTION*****************

.room-statuses-block {
  width: 70vw;
  height: 80vh;
  overflow: scroll;
  align-items: center;
  background-color: white;
  // width:100%;
  // height: 100%;
  border: solid 5px;
  // border-radius: 10%;
}

 .room-statuses-title {
   margin-top: 1em;
   font-size: 2em;
 }

.room-statuses {
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
.room {
  width: 15vw;
  border-radius: 10%;
  margin-top: 2em;
  height: 17vh;
  padding: 10px;
  border: 4px solid;
  justify-content: space-around;
  align-items: center;

}

.room-data {
  font-size: .6em;
  font-family: "Gill Sans", sans-serif;
}

#room-number {
  font-size: .8em;
}

#room-type {}

#bed-count {}

#bed-size {}

#room-cost {
  font-size: .5em;
}
// *************HOTEL DATA VIEW SECTION*****************
.hotel-data-section {
  margin-top: 10em;
  margin-left: 5em;
  align-content: center;
}

.hotel-data-block {
  // border: solid 1px black;
  justify-content: space-between;
  padding: 1em;
  width: 20vw;
  height: 40vh;
}

.data-title {
  font-size: 1em;

}

.hotel-data {
  font-size: 0.9em;
  border: 3px solid;
  background-color: white;
  justify-content: space-around;
}

.revenue-data {}

.color-key {
  background-color: white;
  padding: 1em;
  border-radius: 15%;
  border: 3px solid;
  width: 8vw;
}

.key-label {
  font-size: 1.7em;
  justify-content: space-between;
  width: 100%;
  align-self: baseline;
}

#green {
  color: green;
  // font-size: 1.4em;
}

#red {
  color: red;
  // font-size: 1.4em;
}
// *************CUSTOMER HISTORY VIEW SECTION*****************
// *************BOOKING VIEW SECTION*****************





.hidden {
  display: none;
}
